@model ReflectionIT.Mvc.Paging.PagingList<Estoque.Application.ViewModels.Pedido.PedidoViewModel>

<style>
    .thead-tr-custom {
        border-bottom: 6px solid #e9ebf2;
        /*background: cadetblue;*/
        background: #00689fc2;
        color: white;
    }

    .tbody-tr-custom {
        background-color: #fff;
        height: 72px;
        border-bottom: 7px solid #e9ebf2;
    }

    .white-space{
        white-space: nowrap;
    }

    .color-bold-blue {
        font-weight: 600;
        color: #005f99;
    }

    .bg-resultado-nao-encontrado{
        background: #0069a21f;
    }
</style>

@if (Model.TotalRecordCount > 0)
{
    <table class="table table-borderless" margin="2">
        <thead>
            <tr class="thead-tr-custom">
                <th scope="col" class="text-center">
                    @Html.SortableHeaderFor(model => model.CodPedido, "CodPedido", new {@style="color: white;text-decoration: none;", @onclick="ordenation(this)"})
                    @if (Model.SortExpression == "CodPedido")
                    {
                        <i class="bi bi-caret-down-fill mt-1"></i>
                    }
                    else
                    {
                        <i class="bi bi-caret-down mt-1"></i>
                    }
                </th>
                <th scope="col" class="text-center">Item</th>
                <th scope="col" class="text-center white-space">
                    @Html.SortableHeaderFor(model => model.QtdPedida, "QtdPedida", new {@style="color: white;text-decoration: none;", @onclick="ordenation(this)"})
                    @if (Model.SortExpression == "QtdPedida")
                    {
                        <i class="bi bi-caret-down-fill mt-1"></i>
                    }
                    else
                    {
                        <i class="bi bi-caret-down mt-1"></i>
                    }
                </th>
                <th scope="col" class="text-center white-space">
                    @Html.SortableHeaderFor(model => model.QtdAtendida, "QtdAtendida", new {@style="color: white;text-decoration: none;", @onclick="ordenation(this)"})
                    @if (Model.SortExpression == "QtdAtendida")
                    {
                        <i class="bi bi-caret-down-fill mt-1"></i>
                    }
                    else
                    {
                        <i class="bi bi-caret-down mt-1"></i>
                    }
                </th>
                <th scope="col" class="text-center">
                    @Html.SortableHeaderFor(model => model.NotaFiscal, "NotaFiscal", new {@style="color: white;text-decoration: none;", @onclick="ordenation(this)"})
                    @if (Model.SortExpression == "NotaFiscal")
                    {
                        <i class="bi bi-caret-down-fill mt-1"></i>
                    }
                    else
                    {
                        <i class="bi bi-caret-down mt-1"></i>
                    }
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="tbody-tr-custom">
                    <td class="pt-3 text-center color-bold-blue">
                        @Html.DisplayFor(modelItem => item.CodPedido)
                    </td>
                    <td class="pt-3 text-center">@Html.DisplayFor(modelItem => item.Item.DescItem)</td>
                    <td class="pt-3 text-center">@Html.DisplayFor(modelItem => item.QtdPedida)</td>
                    <td class="pt-3 text-center">@Html.DisplayFor(modelItem => item.QtdAtendida)</td>
                    <td class="pt-3 text-center">@Html.DisplayFor(modelItem => item.NotaFiscal)</td>
                </tr>
            }
        </tbody>
    </table>

    <div class=" color-bold-blue d-flex justify-content-between">
        <span class="ms-1">Total de Pedido : @Model.TotalRecordCount</span>
        <vc:pager paging-list="@Model"></vc:pager>
    </div>
}
else
{
    <div class="card bg-resultado-nao-encontrado">
        <div class="card-body">
            <h5 class="card-title">Ops! Nenhum resultado encontrado.</h5>
            <p class="card-text">Altere a combinação dos filtros e tente novamente.</p>
        </div>
    </div>
}


